
    /* *{margin: 0; padding: 0;}
    
    body{
        width: 100vw;
        height: 100vh;
    
	    background-image: url(../login-success/bgcofgrade.jpg);
        background-position: 60% 100%;
	    background-size:cover;
        background-attachment: scroll;
        position: relative;
    }
    div#login
    {
    line-height: 3;
    font-family: 宋体;
    font-size: 10px;
    padding: 20px;
    background: no-repeat;

    border: 3px solid black;
    border-radius: 10px;
    background-color:azure;
    width: 20vw;
    height: 20vh;

    position:absolute;  
    left : 50vw;
    top: 50vh;
    
    }
    
    .headnav{
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    position:fixed;
   
    
     
}
.headnav ul li{
    float:left;
    height:70px;
    background-color:rgb(20,108,185);
    list-style: none;
   
    line-height: 70px;
}
.headnav ul li:nth-child(1){
    width: 30%;
    
}
.headnav ul li:nth-child(1) img {
    width: 90%; 
    padding-left: 10%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.headnav ul li:nth-child(2){
    width: 60%;
    padding-left: 10%;
    text-align: left;
    vertical-align:middle;
    color:white;
    line-height: 70px;
    font-size: 25px;
    
}
footer{
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 80px;
background-color:rgb(20,108,185);
color:lightgray;
font-size: 15px;
overflow: hidden;

position: fixed;
left:0;
bottom: 0;
}

footer a{
    text-decoration: none;
    color:lightgray;
}

@media only screen and (max-width:768px){
    footer a {display: none;}
    footer{font-size: 25px;}
} */